QMainWindow {
    background-color: #121212;
    color: #e0e0e0;
}

QWidget {
    color: #e0e0e0;
    font-size:14px;
}

QLabel#labelTitle {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
}

QLabel#labelGCI, Qlabel#labelOrder {
    font-weight: bold;
    font-size: 16px;
}

QLabel#labelResultsHeader {
    font-size: 16px;
    font-weight: bold;
    color: #cfcfcf;
    margin-bottom: 10px;
}

QGroupBox {
    font-weight: bold;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-top: 1.1em;
    padding-top: 10px;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 10px;
    padding: 0 3px;
    color: #b0b0b0;
}

QLineEdit {
    border: 1px solid #444444;
    border-radius: 4px;
    padding: 6px;
    background-color: #2d2d2d;
    color: #ffffff;
    selection-background-color: #007bff;
}

QLineEdit:focus {
    border-color: #007bff;
}

QPushButton#pushButtonCalculate {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

QPushButton#pushButtonCalculate:hover {
    background-color: #1a8cff;
}

QPushButton#pushButtonClear {
    background-color: #454d55;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

QFrame#frameResults {
    background-color: #1e1e1e;
    border: 1px solid #333333;
    border-radius: 8px;
    padding: 15px;
}

QLabel[objectName$="_val"] {
    font-weight: bold;
    color: #4dabff;
}

QTextEdit#textEditLog {
    border: 1px solid #333333;
    background-color: #1e1e1e;
    color: #dcdcdc;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
    font-size: 13px;
}

QMenuBar {
    background-color: #2b2b2b;
    color: #dfdfdf;
    border-bottom: 1px solid #1e1e1e;
}
QMenubar::item:selected {
    background-color: #3a8cc6;
}

QMenu {
    background-color: #2b2b2b;
    color: #dfdfdf;
    border: 1px solid #555555;
}
QMenu::item:selected {
    background-color: #3a8cc6;
}

QStatusBar {
    background-color: #2b2b2b;
    color: #dfdfdf;
}